@using Online_Store.Models

@model OrderViewModel

<form method="post" asp-controller="Order" asp-action="Order">
    <input hidden asp-for="Id" />
    <input hidden asp-for="UserId" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">Название продукта</th>
                <th scope="col" class="text-center">Количество</th>
                <th scope="col" class="text-right">Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                    <td>@detail.Product.Name</td>
                    <td>@detail.Amount </td>
                    <td class="text-right">@detail.SubTotal ₽</td>
                </tr>
            }
            @{
                decimal Total = 0;
                foreach (var detail in Model.OrderDetails)
                    Total += detail.SubTotal;
            }
            <tr>
                <td></td>
                <td></td>
                <td><strong>Итого</strong></td>
                <td class="text-right"><strong>  <input class="form-control" asp-for="Price" value="@Total" readonly /> ₽ </strong></td>
            </tr>
        </tbody>
    </table>
    <label asp-for="Commentary">Комментарий к заказу</label><br />
    <input class="form-control" type="text" asp-for="Commentary" />
    <span asp-validation-for="Commentary" class="text-danger"></span>
    <br />
    <div class="col mb-2">
        <div class="row">

            <div class="col-sm-12 col-md-6 text-right">
                <input type="submit" class="btn btn-lg btn-block btn-success text-uppercase" value="Заказать" />
            </div>
        </div>
    </div>
</form>
