@using Online_Store.Models
@using System.Globalization

@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
}

<h4> Выбрать категорию</h4>
<div>
    <label></label> <br />
    <select id="check" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control-lg"></select>
</div>


<div class="container">
    <div class="row align-items-start">
        <div class="col">
            One of three columns
        </div>
        <div class="col">

        </div>
        <div class="col">
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>


<div id="PartialContainer">
   
</div>

<form asp-controller="Product" asp-action="Index">
    <input type="submit" asp-route="" />
</form>

<script type="text/javascript">
    function changeValue(target, output, amount, price, num) {
        let val = parseInt(target.value);
        if (num < 0 && val <= 1) {
            return;
        }
        val += num;
        target.value = val;

        let totalInt = val * price;
        output.value = ('' + totalInt).substring(0, 6);
    }

    AddToCart = function (element) {

        var amount = document.querySelector(".product-amount").children[1].valueAsNumber;
        var ProductId = $(element).data("product-id");
        var CartId = $(element).data("cart-id");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Add", "ShoppingCart")',
            data: {
                CartId: CartId,
                ProductId: ProductId,
                amount: amount
            },
            success: function (data) {
                if (data.data.isValid == false)
                   alert("На складе нет столько товаров")
            },
            error: function () {
                AjaxError();
            }
        });
    };
    RemoveFromCart = function (element) {

        var ProductId = $(element).data("product-id");
        var CartId = $(element).data("cart-id");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Add", "ShoppingCart")',
            data: {
                CartId: CartId,
                ProductId: ProductId,
            },
            success: function (data) {
                if (data.data.isValid == false)
                   alert("На складе нет столько товаров")
            },
            error: function () {
                AjaxError();
            }
        });
    };

</script>