@using Online_Store.Models

@model IEnumerable<ProductCustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    <partial name="~/Views/Product/Partial/_CartPartial.cshtml" />
</div>

@foreach (var product in Model)
{
    <div class="product-wrap">
        <div class="product-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
            <div class="product-buttons">
                <a class="button" asp-controller="ShoppingCart" asp-action="AddToCart">В корзину</a>
            </div>
            <div class="product-buttons">
                <a class="button" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">Подробнее</a>
            </div>
        </div>
        <div class="product-title">
            @product.Name
            <span class="product-price">₽ @product.Price</span>
        </div>
    </div>
}

