@using Online_Store.Models

@model IEnumerable<ProductCustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

@foreach (var product in Model)
{
<div class="product-wrap">
    <div class="product-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
        <div class="product-buttons">
            <a class="button">В корзину</a>
        </div>
    </div>
    <div class="product-title">
        <a asp-controller="Product" asp-action="Details">@product.Name</a>
        <span class="product-price">₽ @product.Price</span>
    </div>
</div>
}
