@{
    ViewData["Title"] = "StartAdminPage";
}

<h4> Выбор действия для работы</h4>
<a asp-area="Admin" asp-controller="Product" asp-action="Index">Просмотр товаров</a><br />
<a asp-area="Admin" asp-controller="Category" asp-action="Index">Просмотр категорий</a><br />
<a asp-area="Admin" asp-controller="Role" asp-action="Index">Просмотр ролей</a><br />


