@model Online_Store.Areas.Identity.Models.UserViewModel;
@{ 
    ViewData["Title"] = "Authorize";
}

<form method="post" asp-area="Identity" asp-controller="Account" asp-action="Authorize">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div>
        <label asp-for="UserName"> </label><br />
        <input type="text" asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"> </label><br />
        <input type="text" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
</form>