@{ 
    ViewData["Title"] = "Index";
}
<a asp-area="Identity" asp-controller="Account" asp-action="Register"> Зарегестрироваться</a>
<a asp-area="Identity" asp-controller="Account" asp-action="Authorize"> Авторизоваться</a>
<form  asp-area="Identity" asp-controller="Account" asp-action="Register">
    <button>Зарегестрироваться</button>
    </form>
<form asp-area="Identity" asp-controller="Account" asp-action="Authorize">
    <button >Авторизоваться</button>
</form>