@model Online_Store.Areas.Identity.Models.UserViewModel
@{

}
<div class="mx-auto" style="width: 200px;">
    <form class="px-4 py-3" method="post" asp-area="Identity" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input type="text" class="form-control" asp-for="UserName" placeholder="Имя пользователя">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Пароль">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="email" class="form-control" asp-for="Email" placeholder="example@gmail.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("~/Areas/Views/Shared/_ValidationScriptsPartial.cshtml");}
}