@using Online_Store.Areas.Admin.Models

@model  ProductViewModel

<div>
    <h4>Товар</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название товара
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Описание товара
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Цена товара
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            Количество товара
        </dt>
        <dd class="col-sm-10">
            @Model.Quantity
        </dd>
    </dl>
</div>

<div>
    <a asp-area="Admin" asp-controller="Product" asp-action="Index">Вернуться</a>
</div>