@using Online_Store.Areas.Admin.Models

@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-area="Admin" asp-controller="Product" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label><br />
        <input class="form-control" type="text" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input class="form-control" type="text" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Price"> </label><br />
        <input class="form-control" type="text" asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Quantity"></label><br />
        <input class="form-control" type="text" asp-for="Quantity" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CategoryId"></label> <br />
        <select class="form-control-lg" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))"></select>
    </div>
    <br />
    <div class="mx-auto" style="width: 200px;">
        <button type="submit" class="btn btn-info">Отредактировать</button>
    </div>
</form>
<div>
    <a asp-area="Admin" asp-controller="Product" asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("~/Areas/Views/Shared/_ValidationScriptsPartial.cshtml");}
}