<div align="right">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
            <input class="btn btn-info" type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a class="btn btn-info" asp-controller="Account" asp-action="Authorize">Вход</a>
        <br />
        <a  class="btn btn-info" asp-controller="Account" asp-action="Register">Регистрация</a>
    }
</div>

