<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online_Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <base href="/">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" asp-controller="Product" asp-action="Index">Онлайн магазин</a>

            <div class="form-inline my-2 my-lg-0">
                <partial name="~/Views/Shared/_EntryPartial.cshtml" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Online_Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
    <script type="text/javascript">
        function changeValue(target, output, total, price, num) {
            let val = parseInt(target.value);
            if (num < 0 && val <= 1) {
                return;
            }
            val += num;
            target.value = val;


            let totalInt = val * price;
            output.value = ('' + totalInt).substring(0, 6);
        }

        function readUrl(input, id) {
            if (input && input.value) {
                $('#' + id).attr('src', input.value);
            }
        }
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
