@using Online_Store.Areas.Admin.Models

@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<a asp-area="Admin" asp-controller="Category" asp-action="Create">Добавить новую категорию</a>

<ul class="list">
    @foreach (var category in Model)
    {
        <li>
            @category.Name
        </li>
        @category.Description <br />
        <a asp-action="Edit" asp-route-id="@category.Id"> Редактировать </a>
        <a asp-action="Delete" asp-route-id="@category.Id"> Удалить </a>
    }
</ul>
<div>
    <a asp-area="Admin" asp-controller="Category" asp-action="Index">Вернуться</a>
</div>



